@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
h1 {
    color: rgb(128, 0, 107);
    font-size: 5rem;
  }
 .workshop{
     width: 1000px;
    height:1000px;
    background-color: red;
    border-radius: 20px;
    opacity: 0.7;
    color: aquamarine;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('/ing/SAM_2602.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    padding-left: 100px;
    margin: 100px 100px 100px 100px;

  }
  .item {
    border: 1px solid #aaa;
    padding: 1rem;
  }
  
  .selected {
    background-color: #aaa;
  }
  #main-menu{
      border:solid red 1px;
      padding:10px;
      width: 500px;

  }
#main-menu div:hover{
    color: burlywood;
    cursor: pointer;
}  
  .container{
      width: 400px; 
      height: 200px;
      display:flexbox;
      flex-direction: row-reverse;
      justify-content: center;
      background-color:salmon;
      width: 1000px;
      height: 1000px;
      
    }
    .container button {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        
    }
    .container button:hover{
        background-color: slateblue;
        color: rgb(255, 255, 255);
    }